.FnSection {
    max-width: 1400px;
    margin: 0 auto;

    &__section {
        background: white;
        border-radius: 0.5rem;
        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
        padding: 1.5rem;
        margin-bottom: 2rem;
    }

    &__grid {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 1rem;
    }

    &__highlight {
        display: block;
        width: fit-content;
        position: relative;
        z-index: 1;
        &::before {
            content: '';
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 20%;
            z-index: -1;

            background-color: #10b981;
        }
    }

    &__form-group {
        display: flex;
        flex-direction: column;

        input,
        select,
        button {
            width: 100%;
            padding: 0.5rem 1rem;
            border: 2px solid #d1d5db;
            border-radius: 0.5rem;
            font-size: 1rem;
            transition: all 0.2s;
        }

        input:focus,
        select:focus {
            outline: none;
            border-color: #3b82f6;
            box-shadow: 0 0 0 3px rgba(59, 130, 246, 0.1);
        }

        input {
            width: 80%;
        }

        button {
            width: 10%;
        }

        label {
            font-size: 1rem;
            font-weight: 500;
            color: #374151;
            margin-bottom: 0.5rem;
        }
    }
}

.CustomFn {
    z-index: 1000;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(128, 128, 128, 0.608);
    display: none;
    justify-content: center;
    align-items: center;

    &--show {
        display: flex;
    }

    h4 {
        font-size: 40px;
    }

    &__section {
        background-color: white;
        position: relative;

        padding: 20px 40px;
    }

    &__rangeInputs {
        display: flex;
        justify-content: space-between;
        gap: 1rem;
        flex-wrap: wrap;
    }

    &__rangeLabel {
        font-size: 1.5rem;
    }

    &__rangeInput {
        font-size: 1.2rem;
    }

    &__cross {
        cursor: pointer;
        position: absolute;
        top: 10px;
        right: 10px;
        background: none;
        border: none;
    }

    &__btn-load,
    textarea {
        width: 100%;
        padding: 0.5rem 1rem;
        border: 2px solid #d1d5db;
        border-radius: 0.5rem;
        font-size: 1rem;
        transition: all 0.2s;
    }
}
